.speech{
    font-size: 19px;
    color: rgb(16, 250, 3);
}
.direction{
    font-size: 15px;
    color: rgb(255, 3, 3);
    background-color: antiquewhite;
    transition: background-color 0.3s; color 0.3s;
}
.direction:hover{
    background-color: lightblue;
    clor: black;
}
.LOPAKHIN{
    color: #c2f11b;
}
.DUNYASHA{
    clor:  #6a0572;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table{
    background-color:burlywood;
    border-color: pink;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
tr:nth-child(even) {
    background-color: #eeee;}


.LOPAKHIN {
    border: 2px solid #ffcc00; /* Interesting border */
    padding: 10px;
    display: inline-block;
}

.LOPAKHIN:hover {
    box-shadow: 0 0 10px #ff00ff; /* Interesting shadow with blur */
    border-color: #00ffff; /* Change border color on hover */
}

.bottom-navbar {
    background-color: #F0E8E0; /* Light pastel brown */
    color: #444; /* Dark gray text color */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0; /* Padding for spacing */
}

.bottom-navbar a {
    color: #444;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px; /* Margin between links */
    transition: all 0.3s ease; /* Smooth transition */
}

.bottom-navbar a:hover {
    color: #F9D5E5; /* Light pastel pink on hover */
}

